html {

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
}


html, body {
  font-family: "Raleway", sans-serif;
  color: #214E41;
}

.header {}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.burger {
  display: none;
}

.title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
}

.subtitle {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
}

.brella {
  margin-top: 210px;
}

.brings {
  margin-top: 120px;
}

.coverage {
  margin-top: 120px;
}

.exp {
  margin-top: 120px;
}

.emp {}

.prod {
  margin-top: 120px;
}


.info {
  margin-top: 120px;
}

.explore {
  margin-top: 120px;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 0 14px;
  color: #fff;
  background-color: #43806C;
  border-radius: 6px;
  white-space: nowrap;
  transition: .4s;
}

.button:hover {
  transform: scale(1.03);
}

.logo {}


/* ==================== HEADER======================== */
/* ==================== HEADER======================== */
.header {
  font-weight: 700;
}

.header__top {
  position: relative;
  margin-bottom: 12px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.header__logo {}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  margin-right: 70px;
  white-space: nowrap;
}

.header__nav-item {
  margin-left: 50px;
}

.header__nav-item:first-child {
  margin-left: 0px;
}

.header__nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #214E41;
  transition: all .4s;
}

.header__nav-link:hover {
  color: #b3301f;

}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-button {
  margin-right: 29px;
  padding: 10px 15px 10px 15px;
}

.header__user-nav {
  display: flex;
  white-space: nowrap;
  position: relative;
}

.header__top-login {
  margin-right: 61px;
  font-style: 13px;
  line-height: 20px;
  transition: all .4s;
}

.header__top-login:hover {
  color: #b3301f;
}

.header__top-login::after {
  content: "";
  position: absolute;
  top: 6.5px;
  left: 41px;
  display: block;
  background: url("/image/arrow.svg") no-repeat;
  width: 12px;
  height: 8px;
}

.header__top-lang {
  margin-right: 77px;
  font-size: 13px;
  line-height: 20px;
  transition: all .4s;
}

.header__top-lang:hover {
  color: #b3301f;
}

.header__body {}


/* ==================== HEADER======================== */
/* ==================== HEADER======================== */

.header__img-box {}

.header__img {
  width: 100%;
  height: 100%;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {}

.header__content {
  margin-top: -600px;
}

.header__text {
  max-width: 516px;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 40px;
}

.header__wond {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.header__cont-btn {}

.header__input {
  color: #222;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 280px;
  height: 60px;
  border-radius: 6px 0px 0px 6px;
}

.header__cont-button {
  padding: 20px 35px 20px 35px;
  margin-left: -3px;
  border-radius: 0px 6px 6px 0px;
}

.header__row-box {
  position: absolute;
  background-color: #fff;
  width: 1200px;
  height: 171px;
  margin-top: -76px;
  box-shadow: -4px 4px 22px 5px rgba(34, 60, 80, 0.2);
  border-radius: 6px;
}

.header__row {
  position: relative;
  font-weight: 400;
  display: flex;
  padding: 52px 50px 50px 100px;
  justify-content: space-between;
  align-items: center;
}

.header__row-more::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 45px;
  width: 41px;
  height: 45px;
  background: url("/image/zont.svg");
}

.header__row-title {
  font-size: 16px;
  line-height: 24px;
}

.header__row-text {
  line-height: 20px;
  max-width: 272px;
}

.header__row-less::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 430px;
  width: 46px;
  height: 45px;
  background: url("/image/less.svg");
}

.header__row-fast::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 340px;
  width: 58px;
  height: 45px;
  background: url("/image/faster.svg");
}


/* ==================== BRELLA ======================== */
/* ==================== BRELLA ======================== */

.brella__inner {
  display: flex;
}

.brella__left {
  margin-left: 60px;
  max-width: 478px;
}

.brella__subtitle {
  font-weight: 400;
  color: #43806C;
  margin-bottom: 20px;
}

.brella__title {
  margin-bottom: 34px;
}

.brella__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-bottom: 26px;
}

.brella__link {
  display: flex;
  text-align: center;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;
}

.brella__link::after {
  position: absolute;
  content: "";
  top: 37px;
  left: -15px;
  width: 100px;
  height: 2px;
  background: url("/image/polosa.svg") no-repeat;
}

.brella__right {}

.brella_img-box {}

.brella__img {
  margin-left: 100px;
}


/* ==================== BRINGS ======================== */
/* ==================== BRINGS ======================== */

.brings__inner {
  display: flex;
}

.left_bgc {
  background-color: #E3EEED;
  max-height: 640px;
  width: 50%;
}

.brings__left {
  font-weight: 400;
  margin: 120px 0px 0px 120px;
}

.brings__subtitle {
  margin-bottom: 29px;
}

.brings__list {
  position: relative;
}

.brings__link-item {
  margin-bottom: 18px;
}

.brings__link-item:last-child {
  margin-bottom: 0px;
}

.brings__link {
  font-family: "Roboto";
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
  transition: all .4s;
  margin-right: 25px;
}

.brings__link:hover {
  color: #214E41;
}

.brings__link-arrow {
  opacity: 0;
  transition: all .4s;
}

.brings__link-item:hover .brings__link-arrow {
  opacity: 1;
}

.right_bgc {
  background-color: #214E41;
  background-position: right;
  height: 640px;
  width: 50%;
}

.brings__right {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  color: #fff;
  padding: 165px 132px 0px 115px;
  max-width: 760px;
}

.brings__right-every {
  margin-bottom: 34px;
}

.brings__right-emp {}

/* ==================== COVERAGE ======================== */
/* ==================== COVERAGE ======================== */


.coverage__top {
  display: flex;
}

.coverage__plan {
  max-width: 560px;
}

.coverage__subtitle {
  font-weight: 700;
  color: #43806C;
  margin-bottom: 20px;
}

.coverage__title {
  color: #214E41;
  margin-bottom: 34px;
}

.coverage__text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}

.coverage__img-box {
  margin-left: 80px;
}

.coverage__img {
  width: 100%;
  height: 100%;
}

.coverage__bot {
  margin-top: 60px;
}

.coverage__row {
  display: flex;
}

.coverage__row-k {
  max-width: 262px;
  margin-right: 50px;
}

.coverage__row-k:last-child {
  margin-right: 0px;
  vertical-align: bottom;
}

.row-k__title {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
}

.row-k__title-k {
  display: flex;
  align-items: center;
}

.row-k__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}


/* ==================== EXP ======================== */
/* ==================== EXP ======================== */

.exp__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp__img-box {
  width: 100%;
  height: 100%;
}

.exp__info {
  max-width: 550px;
  font-weight: 700;
}

.exp__subtitle {
  font-weight: 900;
  color: #43806C;
  margin-bottom: 20px;
}

.exp__title {
  max-width: 570px;
  margin-bottom: 34px;
}

.exp__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-bottom: 26px;
}

.exp__play {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;
}

.exp__play::after {
  position: absolute;
  content: "";
  bottom: -14.35px;
  left: 0;
  width: 88.2px;
  height: 2px;
  background: url("/image/polosa.svg") no-repeat;
}


/* ==================== EMPLOYERS ======================== */
/* ==================== EMPLOYERS ======================== */

.emp {
  background-image: url("/image/employers.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.emp__inner {}

.emp__info {
  font-weight: 700;
  font-size: 18px;
  padding: 200px 0px 300px;

}

.emp__subtitle {
  color: #43806C;
  margin-bottom: 20px;
}

.emp__title {
  margin-bottom: 34px;
  max-width: 400px;
}

.emp__text {
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-bottom: 24px;
  max-width: 500px;
}

.emp__link {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;

}


.emp__link::after {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 0;
  width: 100.2px;
  height: 2px;
  background: url("/image/polosa.svg") no-repeat;
}



/* ==================== PROD ======================== */
/* ==================== PROD ======================== */

.prod {}

.prod__inner {}

.prod__heading {
  text-align: center;
}

.prod__title {
  margin-bottom: 110px;
}

.prod__slider-wrapper {
  position: relative;
  padding: 0 35px;
}

.prod__slider {
  margin: 0 auto;
}

.prod__slide {}

.prod__slide-inner {
  padding: 0 40px;
}

.prod__image-box {
  overflow: hidden;
}

.prod__image {
  position: relative;
  height: 60px;
}

.prod__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prod__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35px;
  display: flex;
  align-items: center;
}

.prod__prev {
  left: 0;
}

.prod__next {
  right: 0;
  justify-content: flex-end;
}


/* ==================== INFO ======================== */
/* ==================== INFO ======================== */


.info__inner {
  display: flex;
}

.info__box:first-child {
  margin-left: 56px;
}

.info__box {
  max-width: 355px;
  margin-right: 40px;
}

.info__box:last-child {
  margin-right: 0px;
}

.info__img-box {
  margin-bottom: 20px;
}

.info__img {}

.info__class {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.05px;
  color: #43806C;
  margin-bottom: 15px;
}

.info__short-info {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}


/* ==================== EXPLORE ======================== */
/* ==================== EXPLORE ======================== */

.explore__inner {
  display: flex;
  background-color: #E3EEED;
  width: 100%;
  height: 100%;
}

.explore__left {}

.explore__img-box {}

.explore__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore__right {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.right__info-box {
  padding: 144px 120px 96px 120px;
}

.right__title {
  max-width: 450px;
  margin-bottom: 46px;
}

.right__talk {
  margin-bottom: 60px;
}

.right__link {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02px;
  padding: 13px 24px;
}



/* ==================== FOOTER ======================== */
/* ==================== FOOTER ======================== */

.footer {}

.footer__top {
  background-color: #214E41;
}

.footer__top-inner {
  display: flex;
  padding-top: 100px;
}

.footer__top-logo {}

.footer__links-list {
  display: flex;
  color: #fff;
  margin-left: 105px;
}

.footer__links {}

.footer__links:last-child {
  margin-left: 115px;
}

.footer__list {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
}

.footer__link-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 15px;
}

.footer__link {}

.footer__form {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #fff;
  margin-left: 260px;
}

.footer__form-title {
  font-size: 13px;
  margin-bottom: 19px;
}

.footer__form-sign {
  font-size: 14px;
  margin-bottom: 16px;
  max-width: 345px;
}

.footer__input-box {
  display: flex;
  margin-bottom: 30px;
}

.footer__input {
  width: 302px;
  height: 52px;
  background-color: #214E41;
  background-image: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-image: -webkit-linear-gradient(left, #fff, #fff), -webkit-linear-gradient(left, #fff, #fff);
  background-image: linear-gradient(left, #fff, #fff), linear-gradient(left, #fff, #fff);
  background-size: 100% 1px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.footer__input-btn {}

.footer__socials {
  display: flex;
}

.footer__social-item {
  margin-right: 25px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {}


.footer__bot {
  color: #fff;
  background-color: #214E41;
  padding-top: 145px;
  padding-bottom: 50px;
}

.footer__bot-inner {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
}

.footer__bot-faq {
  margin-bottom: 20px;
}

.footer__bot-under {
  margin-bottom: 24px;
}

.footer__bot-reach {
  display: flex;
  margin-bottom: 90px;
}

.footer__bot-info {}

.footer__bot-phone {
  margin-left: 15px;
  transition: all .4s;
}

.footer__bot-phone:hover {
  transform: scale(1.1);
}

.footer__bot-res-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bot-reserved {}

.footer__bot-privacy {}

.footer__bot-privacy span {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url('/image/privacy.svg') 0 0 / 100% 100% no-repeat;
}



/* ========================== MEDIA ============================= */
/* ========================== MEDIA ============================= */


/* ========================== 1400 ============================= */

@media(max-width:1400px) {

  .header__content {
    margin-top: -510px;
  }

  /* --------------------------------------- */

  .right__info-box {
    padding: 114px 90px 66px 90px;
  }

  .emp {
    background-position: center;
  }

}


/* ========================== 1250 ============================= */
@media(max-width:1250px) {

  .info__box:first-child {
    margin-left: 36px;
  }

  .info__box {
    margin-right: 20px;
  }
}




/* ========================== 1200 ============================= */

@media(max-width:1200px) {

  .header__nav-list {
    margin-right: 20px;
  }

  .header__top-button {
    margin-right: 19px;
  }

  .header__top-login {
    margin-right: 41px;
  }

  .header__top-lang {
    margin-right: 46px;
  }

  .header__content {
    margin-top: -480px;
  }

  .header__row-box {
    width: 1160px;
  }

  .header__row-less::before {
    left: 410px;
  }

  /* --------------------------------------- */

  .brella__img {
    margin-left: 70px;
  }

  /* --------------------------------------- */

  .brings__link {
    font-size: 28px;
    line-height: 40px;
  }

  .brings__right {
    font-size: 16px;
    line-height: 40px;
  }

  /* --------------------------------------- */

  .explore__right {
    font-size: 30px;
    line-height: 40px;
  }

  .right__title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 26px;
  }

  .right__talk {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

/* ========================== 1100 ============================= */

@media(max-width:1100px) {

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .4s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    background-color: #fff;
    box-shadow: 0 3px 18px 0 #7aa795;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #214E41;
    border-radius: 3px;
    margin: 3px 0px;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #214E41;
    border-radius: 3px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    margin: 0;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .4s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
  }

  .header__nav {
    align-items: center;
    margin-left: 0;
  }

  .header__nav-list {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 40px;
  }

  .header__btn-box {
    flex-direction: column-reverse;
  }

  .header__top-button {
    margin-right: 0;
  }

  .header__user-nav {
    margin-bottom: 30px;
  }

  .header__top-lang {
    margin-right: 0;
  }

  .header__body {
    margin-top: 90px;
  }


  .header__text {
    font-size: 28px;
    line-height: 38px;
  }

  .header__wond {
    font-size: 14px;
    line-height: 22px;
  }

  .header__row-box {
    width: 1040px;
  }

  .header__row {
    padding: 52px 30px 60px 30px;
  }

  .header__row-more::before {
    display: none;
  }

  .header__row-less::before {
    display: none;
  }

  .header__row-fast::before {
    display: none;
  }

  .subtitle {
    font-size: 11px;
    line-height: 18px;
  }

  /* --------------------------------------- */

  .brella__title {
    font-size: 28px;
    line-height: 38px;
  }

  .brella__text {
    font-size: 16px;
    line-height: 28px;
  }

  .brella__img {
    margin-left: 30px;
  }

  /* --------------------------------------- */

  .brings__link {
    font-size: 25px;
    line-height: 30px;
  }

  .brings__right {
    padding: 125px 132px 0px 115px;
    line-height: 30px;
  }

  /* --------------------------------------- */

  .coverage__title {
    font-size: 28px;
    line-height: 38px;
  }

  .coverage__text {
    font-size: 16px;
    line-height: 28px;
  }

  .row-k__title {
    font-size: 50px;
    line-height: 68px;
  }

  .row-k__text {
    font-size: 11px;
    line-height: 20px;
  }

  /* --------------------------------------- */

  .exp__title {
    font-size: 26px;
    line-height: 36px;
  }

  .exp__text {
    font-size: 16px;
    line-height: 28px;
  }

  /* --------------------------------------- */

  .info__box:first-child {
    margin-left: 10px;
  }

  .info__box {
    margin-right: 5px;
  }

  .info__short-info {
    font-size: 16px;
    line-height: 22px;
  }

  .info__img {
    max-width: 340px;
  }

  .right__info-box {
    font-size: 26px;
    line-height: 36px;
  }

  /* --------------------------------------- */

  .emp__inner {
    display: flex;
    justify-content: center;
  }

  /* --------------------------------------- */

  .footer__form {
    margin-left: 200px;
  }

}


/* ========================== 1000 ============================= */

@media(max-width:1000px) {

  .header__content {
    margin-top: -400px;
  }

  .header__row-box {
    width: 940px;
  }

  .header__row {
    padding: 52px 30px 60px 30px;
  }

  .header__row-more::before {
    display: none;
  }

  .header__row-less::before {
    display: none;
  }

  .header__row-fast::before {
    display: none;
  }

  /* --------------------------------------- */

  .brella__subtitle {
    font-size: 11px;
    line-height: 18px;
  }

  .brella__title {
    font-size: 26px;
    line-height: 36px;
  }

  .brella__text {
    font-size: 15px;
    line-height: 26px;
  }

  .brella__img {
    margin-left: 10px;
    max-width: 400px;
  }

  /* --------------------------------------- */

  .brings__right {
    padding: 125px 42px 0px 85px;
  }

  .brings__left {
    margin: 110px 0px 0px 60px
  }

  .brings__right-every {
    margin-bottom: 20px;
  }

  /* --------------------------------------- */

  .coverage__plan {
    max-width: 410px;
  }

  /* --------------------------------------- */

  .explore__right {
    font-size: 26px;
    line-height: 36px;
  }

  .info__box:first-child {
    margin-right: 5px;
  }

  .info__img {
    max-width: 300px;
  }

  /* --------------------------------------- */

  .footer__links-list {
    margin-left: 75px;
  }

  .footer__links:last-child {
    margin-left: 75px;
  }

  .footer__form {
    margin-left: 130px;
  }

  .footer__bot {
    padding-top: 100px;
  }

}




/* ========================== 900 ============================= */
@media(max-width:900px) {

  .header__content {
    margin-top: -350px;
  }

  .header__text {
    font-size: 22px;
    line-height: 32px;
    max-width: 350px;
  }

  .header__wond {
    font-size: 11px;
    line-height: 19px;
  }

  .header__input {
    max-width: 230px;
  }

  /* --------------------------------------- */

  .brella {
    margin-top: 100px;
  }

  .brella__inner {
    flex-direction: column;
    align-items: center;
  }

  .brella__img {
    max-width: 530px;
  }

  .left_bgc {
    max-height: 550px;
  }

  .right_bgc {
    max-height: 550px;
  }

  /* --------------------------------------- */

  .coverage__top {
    justify-content: center;
  }

  .coverage__img {
    display: none;
  }

  .row-k__title {
    font-size: 40px;
    line-height: 58px;
  }

  .info__inner {
    flex-direction: column;
    align-items: center;
  }

  .info__box {
    margin-right: 0;
    max-width: 300px;
    margin-bottom: 25px;
  }

  .info__box:last-child {
    margin-bottom: 0;
  }

  /* --------------------------------------- */

  .explore__img {
    display: none;
  }

  .explore__right {
    width: 100%;
  }

  .explore__right {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /* --------------------------------------- */

  .footer__form {
    margin-left: 90px;
  }

  .header__row-box {
    display: none;
  }
}



/* ========================== 750 ============================= */
@media(max-width:750px) {


  .header__content {
    margin-top: -260px;
  }

  .header__text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  /* --------------------------------------- */

  .brella__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .brella__left {
    margin: 0;
  }

  .brella__link {
    justify-content: center;
  }

  .brella__link::after {
    left: 188px;
  }

  /* --------------------------------------- */

  .brings__inner {
    flex-direction: column;
    justify-content: center;
  }

  .left_bgc {
    width: 100%;
  }

  .brings__left {
    display: flex;
    text-align: center;
    margin: 110px 0px 110px 60px;
  }

  .brings__subtitle {
    margin-bottom: 19px;
  }

  .brings__link-item {
    margin-bottom: 10px;
  }

  .brings__link {
    font-size: 20px;
    line-height: 27px;
  }

  .brings__link-arrow svg {
    width: 21px;
    height: 15px;
  }

  .right_bgc {
    max-height: 490px;
    width: 100%;
  }

  .brings__right {
    padding: 85px 42px;
    font-size: 21px;
    line-height: 33px;
  }

  /* --------------------------------------- */

  .coverage__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* --------------------------------------- */

  .exp__info {
    max-width: 350px;
  }

  .exp__subtitle {
    font-size: 10px;
    line-height: 17px;
  }

  .exp__title {
    font-size: 22px;
    line-height: 32px;
  }

  .exp__text {
    font-size: 14px;
    line-height: 26px;
  }

  /* --------------------------------------- */

  .footer__top-logo {
    display: none;
  }

  .footer__links-list {
    margin-left: 35px;
  }

  .footer__list {
    font-size: 11px;
    line-height: 22px;
  }

  .footer__bot-inner {
    font-size: 12px;
    line-height: 22px;
  }
}

/* ========================== 600 ============================= */
@media(max-width:600px) {


  .header__content {
    margin-top: -170px;
  }

  .header__text {
    font-size: 15px;
    line-height: 25px;
  }

  .header__wond {
    font-size: 9px;
    line-height: 17px;
  }

  .header__input {
    height: 30px;
    max-width: 180px;
  }

  .header__cont-button {
    height: 30px;
    padding: 5px 35px 20px 35px;
  }

  /* --------------------------------------- */

  .exp__inner {
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
  }

  .exp__img-box {
    display: none;
  }


  /* --------------------------------------- */

  .emp__info {
    padding: 60px 0px 60px;
  }

  /* --------------------------------------- */

  .brings__left {
    margin: 90px 0px 0px 10px;
  }

  .brings__link {
    font-size: 17px;
    line-height: 24px;
  }

  .right_bgc {
    max-height: 440px;
  }

  .brings__right {
    font-size: 11px;
    line-height: 23px;
    padding: 95px 42px 0px 45px;
  }

  /* --------------------------------------- */

  .footer__top-inner {
    flex-direction: column;
    align-items: center;
  }

  .footer__links-list {
    margin: 0;
  }

  .footer__links:last-child {
    margin-left: 200px;
  }

  .footer__form {
    margin: 0;
  }

  .footer__bot-inner {
    font-size: 11px;
    line-height: 21px;
  }

}


/* ========================== 400 ============================= */
@media(max-width:400px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  .header__content {
    margin-top: -170px;
  }

  .brella__link::after {
    left: 128px;
  }

  .brings__left {
    margin: 30px 0px 0px 10px;
  }

  .brings__right {
    padding: 25px 20px 0px 20px;
  }

}


/* ========================== 400 ============================= */
@media(max-width:400px) {

  .brings__left {
    margin: 50px 0px 50px 10px;
  }

  .brings__right {
    padding: 25px 10px 0px 10px;
  }

  .info__socials-item {
    margin-right: 15px;
  }

  .footer__links:last-child {
    margin-left: 150px;
  }

  .footer__form {
    max-width: 300px;
  }

  .footer__bot-reach {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer__bot-res-box {
    flex-direction: column;
  }

}


/* ========================== 320 ============================= */
@media(max-width:320px) {
  
  .header__img{
    display: none;
  }

  .header__content{
    margin-top: 0;
  }

  .header__text{
    font-size: 11px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  .header__wond{
    margin-bottom: 6px;
  }

  .header__cont-btn{
    display: flex;
    flex-direction: column;
  }

  .header__input{
    height: 20px;
    max-width: 120px;
    border-radius: 2px;
    background-image: none;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background-image: -webkit-linear-gradient(left, #222, #222), -webkit-linear-gradient(left, #222, #222);
    background-image: linear-gradient(left, #222, #222), linear-gradient(left, #222, #222);
    background-size: 100% 1px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
  }

  .header__cont-button{
    height: 20px;
    max-width: 120px;
    border-radius: 2px;
    padding: 5px 35px 20px 30px;
    margin: 0;
  }


  .brella__link::after {
    left: 94px;
  }

  .brella__img {
    max-width: 300px;
  }

  .right__info-box {
    padding: 114px 50px 56px 50px;
  }

  .footer__form-title{
    text-align: center;
  }

}